<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BlogMVC</title>
  <link rel="stylesheet" href="/css/jass.css">
</head>
<body>

<div class="header">
  <h1>BlogMVC</h1>
  <nav class="navbar">
    <a href="/">Home</a>
      <a href="/dashboard">Dashboard</a>
    {{#if ifloggedIn}}
      <!-- Show the Logout links when the user is logged in -->
      <a href="/logout">Logout</a>
    {{else}}
      <!-- Show the Login and Sign Up links when the user is not logged in -->
      <a href="/login">Login</a>
      <a href="/signup">Sign Up</a>
    {{/if}}
  </nav>
</div>

{{{body}}}

<div class="footer">
  <p>&copy; {{year}} BlogMVC</p>
</div>

</body>
</html>

<script src="/public/js/logout.js"></script>
